:root{
    --background-blanco: #FFFFFF;
    --background-celeste: #EAF2FD;
    --background-gris: #E5E5E5;
    --fuente-preto: #464646;
    --fuente-celeste: #2A7AE4;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
h1{
    color: var(--fuente-preto);
    font-size: 30px;
    font-weight: 700 ;
}