:root{
    --background-blanco: #FFFFFF;
    --background-celeste: #EAF2FD;
    --background-azul: #2A7AE4; ;
    --background-gris: #E5E5E5;
    --fuente-preto: #464646;
    --fuente-azul: #2A7AE4;
    --montserrat: 'Monserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;
}

*{
    font-family: var(--raleway);
}
.container{
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
}

 